[buildout]
extends = base.cfg

parts += 
    supervisor
    nginx_conf

eggs += flup

[conf]
domainname = sentry.zestsoftware.nl
domainaliases =

supervisor = 11130
fastcgi    = 16130


[nginx_conf]
recipe = collective.recipe.template[genshi]:genshi
input = templates/nginx.conf.in
output = ${buildout:parts-directory}/conf/nginx.conf


[supervisor]
recipe = collective.recipe.supervisor
port = 127.0.0.1:${conf:supervisor}
# normally our ports are firewalled, so this user/pw account should not be
# exploitable from the outside
user = webserverinterfaceunused
password = webserverpasswordunused
serverurl = http://127.0.0.1:${conf:supervisor}
programs =
      10 sentry ${buildout:directory}/bin/sentry [--config=${buildout:directory}/central_sentry/production.py start http]
