[buildout]
extends = base.cfg

parts += 
    env
    supervisor
    nginx_conf
    crontab_start
    crontab_backup_db
    crontab_backup_files
    crontab_cleanup_backups

eggs += flup

[env]
recipe = gocept.recipe.env


[conf]
domainname = sentry.zestsoftware.nl
domainaliases =

supervisor = 11130
fastcgi    = 16130


[nginx_conf]
recipe = collective.recipe.template[genshi]:genshi
input = templates/nginx.conf.in
output = ${buildout:parts-directory}/conf/nginx.conf


[supervisor]
recipe = collective.recipe.supervisor
port = 127.0.0.1:${conf:supervisor}
# normally our ports are firewalled, so this user/pw account should not be
# exploitable from the outside
user = webserverinterfaceunused
password = webserverpasswordunused
serverurl = http://127.0.0.1:${conf:supervisor}
programs =
      10 sentry ${buildout:directory}/bin/sentry [--config=${buildout:directory}/central_sentry/settings.py start http]

[crontab_start]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:directory}/bin/supervisord


[crontab_backup_db]
recipe = z3c.recipe.usercrontab
times = 0 7 * * *
command = cat ${buildout:directory}/central_sentry.db | gzip > ${buildout:directory}/var/backup.sql.gz

[backup_files]
recipe = iw.recipe.backup
target-folder = ${env:HOME}/backups/sentry
log-file = ${backup_files:target-folder}/backup.log
format = %(year)s-%(month)s-%(day)s-%(hour)s-%(minute)s
include-folders = 
    ${buildout:directory}/var

[crontab_backup_files]
recipe = z3c.recipe.usercrontab
times = 10 7 * * *
command = ${buildout:directory}/bin/backup > /dev/null


[crontab_cleanup_backups]
recipe = z3c.recipe.usercrontab
times = 20 7 * * *
command = /usr/bin/find ${backup_files:target-folder} -type f -mtime +14 -delete
