zc.buildout==2.5.3
setuptools==34.2.0
sentry==8.13.0

# sentry dependencies for 8.13.0
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto3==1.4.4
botocore==1.5.15
celery==3.1.18
cffi==1.9.1
click==6.7
contextlib2==0.5.4
cryptography==1.7.2
cssselect==1.0.1
cssutils==0.9.10
Django==1.6.11
django-bitfield==1.7.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.2
django-jsonfield==0.9.13
django-picklefield==0.3.2
django-sudo==2.1.0
django-templatetag-sugar==1.0
djangorestframework==2.3.14
docutils==0.13.1
email-reply-parser==0.2.0
enum34==1.1.6
exam==0.10.6
futures==3.0.5
hiredis==0.1.6
honcho==0.7.1
httplib2==0.10.3
idna==2.2
ipaddress==1.0.18
jmespath==0.9.1
kombu==3.0.35
libsourcemap==0.5.0
lxml==3.7.3
mock==1.0.1
oauth2==1.9.0.post1
percy==0.4.2
petname==1.7
Pillow==3.2.0
progressbar2==3.10.1
psycopg2==2.6.2
py==1.4.32
pyasn1==0.2.2
pycparser==2.17
pyOpenSSL==16.2.0
pytest==2.6.4
pytest-django==2.9.1
pytest-html==1.9.0
python-dateutil==2.6.0
python-memcached==1.58
python-openid==2.2.5
python-u2flib-server==4.0.1
python-utils==2.0.1
pytz==2016.10
PyYAML==3.11
qrcode==5.3
raven==5.32.0
rb==1.6
redis==2.10.5
requests==2.12.5
s3transfer==0.1.10
selenium==3.0.0b3
setproctitle==1.1.10
simplejson==3.8.2
six==1.10.0
South==1.0.1
sqlparse==0.2.2
statsd==3.1
structlog==16.1.0
symsynd==1.3.0
toronado==0.0.11
ua-parser==0.7.3
urllib3==1.16
uWSGI==2.0.14
